.task{
    margin: 20px 9px 0;
    padding: 20px 15px 20px 15px;
    display: grid;
    grid-template-rows: auto;
    background-color: rgba($color: #5740bb, $alpha: 0.3);
    border-radius: 15px;
    border-bottom: solid 1px #5740bb;
    h3{
        font-size: 13px;
        margin: 0 0 5px;
    }
    p{
        font-size: 12px;
        text-align: left;
        margin: 7px 0 0;
    }
}
.task:hover{
    background-color: rgba($color: #5740bb, $alpha: 0.7);

}
.task__time{
    font-size: 12px;
    margin-top: 15px;
    background-color: rgba($color: #fff, $alpha: 0.6);
    border: none;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
}
.task__time:hover{
    background-color: #fff;
}
.task-is-done{
    background-color: rgba($color: #4ab392, $alpha: 0.3);
    border-bottom: solid 1px #4ab392;
}.task-is-done:hover{
    background-color: rgba($color: #4ab392, $alpha: 0.7);
}