@import "_vars.scss";

.board__content {
}


.board__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 5px 30px;
    border-bottom: solid 1px #bbbbbb;
}

.board__extra-task_desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 10px 0;
}
.board__extra-task-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    button {
        padding: 15px 40px;
        background-color: transparent;
        border-radius: 30px;
        font-weight: bold;
        outline: none;
    }
    input {
        padding: 15px 40px;
        border-radius: 30px;
        background-color: #e9eff6;
        border: none;
        font-weight: bold;
    }
    input[placeholder] {
        padding-left: 20px;
    }
    
}
.board__extra-task_text {
    color: #5740bb;
    font-weight: bold;
    font-size: 21px;
}
.board__button_add {
    border: 2px solid #4ab392;
}
.board__button_add:hover {
    border: 2px solid transparent;
    background-color: #5740bb;
    color: #fff;
}
.board__days_box {
    overflow-x: scroll;
    width: 1060px;
    padding-left: 20px;
    display: flex;
    height: 100%;
    background-color: #f1f1fa;
}
.board__extra-task_date{
    padding-right: 30px;

}
@media (max-width: $mobile - 1){
    .board__header{
        display: grid;
        width: 330px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0;
        padding: 20px;
        
    }
    .board__extra-task_desc {
        display: grid;
        width: 300px;
        justify-items: start;

    }
    .board__extra-task_date{
        display: none;
        padding-right: 0;
    }
    .board__extra-task_p{
        display: grid;

    }
    .board__extra-task-buttons {

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        justify-items: center;
        align-items: center;
        grid-row-gap: 10px;
        button {
            padding: 15px 20px;
            background-color: transparent;
            border-radius: 15px;
            font-weight: bold;
            outline: none;
            width: 200px;
        }
        input {
            padding: 15px 20px;
            border-radius: 15px;
            background-color: #e9eff6;
            border: none;
            font-weight: bold;
            width: 290px;
        }
        input[placeholder] {
            padding-left: 20px;
        }
        
    }
    .board__days_box {
        overflow-x: scroll;
        width: 335px;
        padding-left: 20px;
        display: flex;
        height: 100%;
        background-color: #f1f1fa;
        padding-left: 0;
        padding: 0 20px;
    }
}