@import "_mixins.scss";
@import "_vars.scss";
.day {
    margin-right: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    min-height: 500px;
    margin-top: 20px;
    background-color: #fff;
    min-width: 185px;
    max-width: 185px;
    padding: 15px 20px;
    margin-bottom: 20px;

}

@media (max-width: $mobile){
    .day{
        min-width: 295px;

    }
}

.day__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 15px -15px #000;
    max-height: 50px;
    padding-bottom: 20px;
    p {
        margin: 0;
        font-weight: bold;
        text-align: left;
        font-size: 20px;
        max-width: 150px;
    }
    a {
        text-align: right;
    }
    img {
        height: 15px;
        width: 15px;
    }
}
