.day{
    border: solid 1px #bbbbbb;
    border-top: none;
    border-left: none;
    padding-bottom: 20px;
}
.day__header{
    display: grid;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 15px -15px #000;
    p{
        margin: 0;
        padding: 7px 0 0;
    }
    h3{
        margin: 0;
        padding: 7px 0;
    }
}