.day {
    margin-right: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    min-height: 500px;
    margin-top: 20px;
    background-color: #fff;
    min-width: 185px;
    padding: 15px 20px;
    margin-bottom: 20px;
}
.day__header {
    display: grid;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 15px -15px #000;
    max-height: 50px;
    p {
        margin: 0;
        padding: 0 0 15px 0;
        font-weight: bold;
    }
}
