@import "vars";
@import "mixins";
.boards{
    padding: 20px 0;

}


.board__content_box{
    padding-left: 20px;
}
.board__content_buttons-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.boards__form-add{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 130px 130px;
    grid-column-gap: 10px;
}
@include respond-to(mobile){
    .boards{
        padding: 0;
    }
    .board__content_box{
        padding-left: 0;
        padding: 10px;
        p{
            text-align: center;
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .board__content_buttons-box{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto;
        grid-row-gap: 10px;
    }
    .boards__form-add{
        grid-template-columns: none;
        grid-template-columns: 1fr 1fr;
        button{
            padding: 10px 0;
        }
    }
}